* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.wrapper {
    max-width: 1920;
}

/* mobile 320x568, tablet 820x1180, desktop 1920×1080; */

.accordeon {
}
.acc-item {
    border: 1px solid black;
    margin-bottom: 25px;
}

.acc-item-input {
    display: none;
}

.acc-item-label {
    display: flex;
    justify-content: space-between;
    color: blue;
}

.acc-item-description {
    color: inherit;
}

.acc-item-icon {
    width: 15px;
    height: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(assets/svg/open.svg);
}

.acc-content {
    background-size: contain;
    background-repeat: no-repeat;
    width: 320px;
    height: 273.5px;
    display: none;
}

.acc-item-input:checked ~.acc-item-label,
.acc-item-input:hover ~.acc-item-label {
    color: black;
}

.acc-item-input:checked ~.acc-item-label .acc-item-icon {
    background-image: url(assets/svg/close.svg);
}

.acc-item-input:hover ~.acc-item-label .acc-item-icon {
    background-image: url(assets/svg/close.svg);
}

.acc-item-input:checked ~.acc-content {
    display: block;
}

.acc-item-input:hover ~.acc-content {
    display: block;
}

.acc-1-content {
    background-image: url(./assets/img/1.png);
}

.acc-2-content {
    background-image: url(./assets/img/2.png);
}

.acc-3-content {
    background-image: url(./assets/img/3.png);
}

.acc-4-content {
    background-image: url(./assets/img/4.png);
}

.acc-5-content {
    background-image: url(./assets/img/5.png);
}