* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}


body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-family: 'Caveat', cursive;
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 600; 
    color: #0a7ae2;
}

.wrapper {
    max-width: 192rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* mobile 320x568, tablet 820x1180, desktop 1920×1080; */

.accordeon {
    padding: 2rem;
    border: 0.1rem solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.acc-item {
    border-bottom: 0.1rem solid rgb(180, 178, 178);
    margin-bottom: 1rem;
}

.acc-item-input {
    display: none;
}

.acc-item-label {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 1rem;
}

.acc-item-string {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.acc-item-description {
    padding-left: 1rem;
}

.acc-item-icon {
    width: 1.5rem;
    height: 1.5rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(assets/svg/open.svg);
    display: none;
}

.accordeon:hover .acc-item-icon {
    display: block;
}

.acc-content {
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 32rem;
    height: 27.35rem;
    display: none;
}

.acc-item-input:checked ~.acc-item-label,
.acc-item-input:hover ~.acc-item-label,
.accordeon:hover {
    color: black;
}

.acc-item-input:checked ~.acc-item-label .acc-item-icon,
.acc-item-input:hover ~.acc-item-label .acc-item-icon {
    background-image: url(assets/svg/close.svg);
}

.acc-item-input:checked ~.acc-item-label .acc-content,
.acc-item-label:hover .acc-content {
    display: block;
}

.acc-1-content {
    background-image: url(./assets/img/1.png);
}

.acc-2-content {
    background-image: url(./assets/img/2.png);
}

.acc-3-content {
    background-image: url(./assets/img/3.png);
}

.acc-4-content {
    background-image: url(./assets/img/4.png);
}

.acc-5-content {
    background-image: url(./assets/img/5.png);
}